{{#if showingUpdate}}
  <form class=''>
    {{input value=title id='post-title' placeholder='Title'}}
    {{textarea value=body id='post-content' placeholder='Content'}}
    <button {{action 'updatePost' model}} class="btn btn-success">Post</button>
  </form>
{{else}}
  <button {{action 'showUpdate'}} class="btn btn-info">Edit</button>
{{/if}}
